@model List<vallezweb.Source.Entidades.Quarto>;
@{

    ViewData["Title"] = "Quartos";
}



<div class="barra-quartos">
    <div class="esquerda">
        <button>Suite Master</button>
        <button>Standards</button>
        <button>Simples</button>
    </div>
    <div class="direita">
        <p>Preço:</p>
        <input type="text" , placeholder="Min:" />
        <input type="text" , placeholder="Max:" />

    </div>
</div>

<div>
    <section class="quartos-agendamento">
        @foreach (var quarto in Model)
        {
            var valorSemanal = (quarto.ValorDiaria * 7).ToString("C", System.Globalization.CultureInfo.CurrentCulture);

            <div class="quartos">
                <div class="img-quartos">
                    <img src="~/imgs/hotel-cama.png" alt="">
                    <h1>@quarto.Descricao</h1>
                </div>
                <div class="dados-agendamento">
                    <div class="descricao-quarto">
                        <h3>Descrição</h3>
                        <p>Camas: @quarto.QtCamas.ToString()</p>
                        <p>Banheiros: @quarto.QtBanheiros.ToString() </p>
                        <p>Valor Diaria: @quarto.ValorDiaria.ToString("C", System.Globalization.CultureInfo.CurrentCulture)</p>
                        <p>Valor Semana: @Html.DisplayFor(modelItem => valorSemanal) </p>

                    </div>
                </div>
                <div>
                    <a >Visualizar</a>
                </div>
            </div>
        }
    </section>

</div>



