@model List<vallezweb.Source.Entidades.Quarto>;
@{

    ViewData["Title"] = "Quartos";
}



<div class="barra-quartos">
    <div class="direita">
        <p>Filrar Preços Diários:</p>
        <input type="text" , placeholder="Min:" id="filtrar-valoresmin" />
        <input type="text" , placeholder="Max:" id="filtrar-valoresmax" />

    </div>
</div>

<div>
    <section class="quartos-agendamento">
        @foreach (var quarto in Model)
        {
            var valorSemanal = (quarto.ValorDiaria * 7).ToString("C", System.Globalization.CultureInfo.CurrentCulture);

            <div class="quartos">
                <div class="img-quartos">
                    <img src="~/imgs/hotel-cama.png" alt="">
                    <h1>@quarto.Descricao</h1>
                </div>
                <div class="dados-agendamento">
                    <div class="quartosdesc">
                        <h3>Descrição</h3>
                        <p>Camas: @quarto.QtCamas.ToString()</p>
                        <p>Banheiros: @quarto.QtBanheiros.ToString()</p>
                        <p class="valuediarias">Valor Diaria: @quarto.ValorDiaria.ToString("C", System.Globalization.CultureInfo.CurrentCulture)</p>
                        <p>Valor Semana: @Html.DisplayFor(modelItem => valorSemanal) </p>

                    </div>
                </div>
                <div>

                    <a class="link" asp-controller="Agendamento" asp-action="Index" asp-route-id="@quarto.Id">Visualizar</a>
                </div>
            </div>
        }
    </section>




    @section Scripts {
        <script type="text/javascript">

            var valorFiltro = document.querySelector("#filtrar-valoresmin");

            valorFiltro.addEventListener("input", function () {
                var quartostab = document.querySelectorAll(".quartos");

                if (this.value.length > 0) {
                    for (var i = 0; i < quartostab.length; i++) {
                        var quartosdesc = quartostab[i];
                        var davalor = quartosdesc.querySelector(".valuediarias")
                        var valor = davalor.textContent.split(" ")[3];
                        if (parseFloat(valor) >= parseFloat(this.value)) {
                            quartosdesc.classList.remove("invisivel");
                        } else {
                            quartosdesc.classList.add("invisivel")
                        }
                    }
                } else {
                    for (var i = 0; i < quartostab.length; i++) {
                        var quartosdesc = quartostab[i];
                        quartosdesc.classList.remove("invisivel");
                    }                         
                }  
            });

            var valorFiltro = document.querySelector("#filtrar-valoresmax");

            valorFiltro.addEventListener("input", function () {
                var quartostab = document.querySelectorAll(".quartos");

                if (this.value.length > 0) {
                    for (var i = 0; i < quartostab.length; i++) {
                        var quartosdesc = quartostab[i];
                        var davalor = quartosdesc.querySelector(".valuediarias")
                        var valor = davalor.textContent.split(" ")[3];
                        if (parseFloat(valor) <= parseFloat(this.value)) {
                            quartosdesc.classList.remove("invisivel");
                        } else {
                            quartosdesc.classList.add("invisivel")
                        }
                    }
                } else {
                    for (var i = 0; i < quartostab.length; i++) {
                        var quartosdesc = quartostab[i];
                        quartosdesc.classList.remove("invisivel");
                    }
                }
            });




        </script>
}

</div>



